KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/michal/.Xauthority", RUN+="/home/michal/.udev/monitor-hotplug.sh"
